.form{
    margin: 0 auto;
    /* border: solid rgb(1, 44, 1); */
    width: 60%;
    text-align: left;
    /* border: solid black; */
}
.form > input{
    padding: 20px 20px;
    width: 40%;
    outline: none;
    border-radius: 5px;
    border: solid white 1px;
    font-size: 18px;
}
.form > button{
    border: none;
    outline: none;
    padding: 12px 12px;
    background-color: rgb(5, 5, 63);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
